<h1>Message from signalR</h1>
<h4>Notification Payload :</h4>
<p>{{ message | json }}</p>

<div id="Response">
  <ul id="messagesList"></ul>
</div>
<h4>
  I am from User 2494b8a1-5153-481f-9393-53595f53084b and Tenant
  fa17992a-1490-4796-aad7-4651fac517c2
</h4>
<input
  type="button"
  id="subscribeFilter"
  (click)="addSubscription()"
  value="Subscribe for Filter Subscription"
/>
<input
  type="button"
  (click)="removeSubscription()"
  id="removeSubscription"
  value="Unsubscribe"
/>
<input type="hidden" id="displayname" />
<ul style="list-style-type: none" id="discussion"></ul>

<router-outlet></router-outlet>
